body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.palaioGG { overflow-x: hidden; }

/*fonts region*/
@font-face {
    font-family: Walkway;
    src: url(../fonts/Walkway_Black.ttf);
}

@font-face {
    font-family: Whipsmart;
    src: url(../fonts/Whipsmart.ttf);
}

@font-face {
    font-family: Chintzy;
    src: url(../fonts/chintzy.ttf);
}

@font-face {
    font-family: Pinstripe;
    src: url(../fonts/Pinstripe_Limo.ttf);
}

@font-face {
    font-family: Ambrosia;
    src: url(../fonts/AMBROSIA_DEMO.ttf);
}
/*endregion*/

/*generic region*/
#construction_msg {
    color: white;
    bottom: 0;
    right: 18px;
    bottom: 18px;
    position: absolute;
    text-align: center;
}

.bg-layer { z-index: 0; }
.content-layer { z-index: 10 }
.stripes-layer { z-index: 20; }
.graphics-layer { z-index: 30; }
/*endregion*/

/*navigation menu region*/

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 998; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(2,59,71); /* Black fallback color */
    background-color: rgba(2,59,71, 0.96); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
}

/*menu*/
#nav-icon3 {
    width: 8vw;
    min-width: 30px;
    max-width: 50px;
    height: 45px;
    position: fixed;
    margin: 20px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 999;
}

    #nav-icon3 span {
        display: block;
        position: absolute;
        height: .5vw;
        min-height: 4px;
        max-height: 7px;
        width: 100%;
        background: #000;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon3.open span {
        background-color: #fff;
    }

    #nav-icon3 span:nth-child(1) {
        top: 0px;
    }

    #nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
        top: 15px;
    }

    #nav-icon3 span:nth-child(4) {
        top: 30px;
    }

    #nav-icon3.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    #nav-icon3.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #nav-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #nav-icon3.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
/*endregion*/

/*main region*/
.palaioGG .main {
    width: 100%;
    height: 100vh;
    min-height: 45vmax;
    background-color: #EBDFB1;
}

    .palaioGG .main #version {
        margin-top: 20px;
        z-index: 3;
        position: relative;
    }

    .palaioGG .main .avatar-wrapper,
    .palaioGG .main .avatar {
        width: 15vmax;
        height: 15vmax;
        min-width: 8vmax;
        min-height: 8vmax;
    }

    .palaioGG .main .avatar-wrapper {
        margin: 0 auto;
        margin-top: 20vh;
        position: initial;
    }

    .palaioGG .main .avatar {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        border: 2px solid #A7A37E;
    }

    .palaioGG .main .title-container {
        width: 100%;
        text-align: center;
        display: block;
        margin-top: 2%;
    }

        /*title font region*/
        .palaioGG .main .title-container h2 {
            font-family: Walkway;
            font-size: 1.7vmax;
        }

        .palaioGG .main .title-container #front_dev {
            color: #55595E;
            font-family: Whipsmart;
            font-weight: bold;
        }

        .palaioGG .main .title-container #interested {
            letter-spacing: .9vmin;
            text-transform: uppercase;
            font-size: 1.7vmax;
        }

        .palaioGG .main .title-container #web {
            color: #55595E;
            font-family: Chintzy;
            font-size: 2.3vmax;
        }

        .palaioGG .main .title-container #design {
            color: #E08631;
            font-family: Pinstripe;
            text-transform: uppercase;
            font-size: 2.1vmax;
            letter-spacing: 2px;
        }

        .palaioGG .main .title-container #substance {
            color: #E0493A;
            font-family: Ambrosia;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 2.3vmax;
        }
        /*endregion*/
/*endregion*/

/*stripes n patches region*/
#stripe_top {
    border-top: 5px solid black;
    border-radius: 20px;
    margin-top: -600px;
    float: right;
    margin-right: -200px;
    z-index: 9999;
    width: 100vh;
    transform: rotate(35deg);
}

.stripe-container {
    position: inherit;
    /*border: 1px solid blue;*/
    height: 500px;
    top: -400px;
}

.stripe2_wrapper {
    position: absolute;
    /*border: 1px solid red;*/
    width: 30%;
    height: 100%;
    left: 0;
}

.stripe3_wrapper {
    position: absolute;
    /*border: 1px solid green;*/
    /*background-color: #FFF3C1;*/
    width: 70%;
    height: 100%;
    right: 0;
    display: inline-block;
}

#stripe2 {
    position: absolute;
    border-top: 5px solid black;
    border-radius: 20px;
    right: -92px;
    bottom: 57.35%;
    z-index: 5;
    width: 1000px;
    transform: rotate(35deg);
}

#stripe3 {
    width: 100%;
    border-top: 5px solid black;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 20px;
}

.stripe_container_about_bottom {
    position: relative;
    /*border: 1px solid blue;*/
    height: 290px;
    bottom: 0;
}

.stripe4_wrapper {
    position: absolute;
    /*border: 1px solid green;*/
    width: 70%;
    height: 100%;
    left: 0;
    display: inline-block;
}

#stripe4 {
    width: 100%;
    border-top: 5px solid black;
    right: 0;
    top: 0;
    position: absolute;
    border-radius: 20px;
}

#stripe5_wrapper {
    position: absolute;
    /*border: 1px solid red;*/
    width: 30%;
    height: 100%;
    right: 0;
}

#stripe5 {
    position: absolute;
    border-top: 5px solid black;
    border-radius: 20px;
    left: -93px;
    bottom: 0;
    z-index: 5;
    width: 1000px;
    transform: rotate(35deg);
}

#patch5 {
    width: 100%;
    height: 400px;
    background-color: #7F7960;
    position: absolute;
    top: 4px;
}

#patch6 {
    width: 600px;
    height: 300px;
    background-color: #7F7960;
    position: absolute;
    top: 149px;
    left: -141px;
    transform: rotate(35deg);
    z-index: 1;
}
/*endregion*/

/*about region*/
.palaioGG .about {
    background-color: #E5DAAD;
    height: 100vh;
    z-index: 10;
    position: relative;
}

    .palaioGG .about .about-content {
        position: absolute;
        top: 20%;
        z-index: 5;
        padding-right: 30px;
        padding-left: 140px;
    }

    .palaioGG .about .cityscape-wrapper {
        position: relative;
        width: 68%;
        height: 70vh;
        /*border: 1px solid orange;*/
        margin-left: -230px;
        margin-top: -400px;
    }

    .palaioGG .about .cityscape {
        width: 100%;
        height: 100%;
        position: absolute;
    }

        .palaioGG .about .cityscape.shadow {
            z-index: 0;
            opacity: .15;
            margin-left: -5px;
            margin-top: -2px;
        }

        .palaioGG .about .cityscape.bg {
            z-index: 1;
        }

        .palaioGG .about .cityscape.real {
            z-index: 3;
            opacity: .3;
        }

    .palaioGG .about .cityscape-wrapper.reflection-wrapper {
        position: relative;
        width: 97.15%;
        height: 70vh;
        /*border: 1px solid orange;*/
        margin-left: -230px;
        margin-top: 0px;
    }

    .palaioGG .about .cityscape.reflection {
        opacity: .4;
        -moz-transform: scale(1,-1);
        -o-transform: scale(1,-1);
        -webkit-transform: scale(1,-1);
        transform: scale(1,-1);
        bottom: -100%;
    }

    .palaioGG .about .about-content .about-text {
        margin-top: 40px;
        font-size: 1vmax;
        text-align: justify;
    }

        .palaioGG .about .about-content .about-text .fa-heart {
            color: #E0493A;
        }
/*endregion*/

/*skills region*/
.palaioGG .skills {
    height: 120vh;
    background-color: #7F7960;
    padding-top: 23%;
    padding-top: 23vmax;
    min-height: 65vmax;
}

.palaioGG .skills .skillset {
    z-index: 20;
    position: relative;
}

.palaioGG .skills .skills-title {
    color: #403D30;
    font-variant: small-caps;
    text-align: center;
    z-index: 20;
    position: relative;
}
.palaioGG .skills .skills-notice {
    text-align: center;
    padding: 0 30%;
    padding-bottom: 5%;
    font-size: 12px;
}

.palaioGG .skills .skills-familiar {
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #FFF3C1;
}

.palaioGG .skills .skills-familiar .skill-word { color: #FFF3C1; }

.palaioGG .skills .skillset .skill-container { 
    background-color: #ABA381;
    padding: 10px; 
    border: 1px solid #403D30; 
    height: 6.7vw;
    min-height: 90px; 
    margin-bottom: 20px; 
    box-shadow: 10px 10px 5px #403D30;
    position: relative;
}

.palaioGG .skills .skillset .skill-container .percentage-bar { position: absolute; height: 100%; top: 0; left: 0; background-color: #B8AF8B; }
.palaioGG .skills .skillset .col-md-6:nth-child(odd) .skill-container .percentage-bar { left: auto; right: 0; }

.palaioGG .skills .skillset .skill-container .logo-wrapper { width: 30%; }
.palaioGG .skills .skillset .skill-container .logo-wrapper.xtra-padding { padding-top: 3%; }

.palaioGG .skills .skillset .skill-container .skill-logo { width: 3vw; min-width: 30px; display: block; margin: 0 auto; }

.palaioGG .skills .skillset .skill-container .skill-label { bottom: 0; }
.palaioGG .skills .skillset .skill-container .skill-label.xtra-space { width: 200px; text-align: left!important; }

.palaioGG .skills .skillset .divider { height: 100%; border: 1px solid white; transform: rotate(90deg); }

.palaioGG .skills .skillset .skill-container .donut-container {
		display: inline-block;
		position: relative;
        height: 6vw;
        width: 7vw;
        min-height: 70px;
        min-width: 80px;
		vertical-align: top;
		overflow: hidden;
        /*border: 1px solid red;*/
}

.palaioGG .skills .skillset .skill-container .donut-container .svg-content {
    display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
/*endregion*/

/*projects region*/
.palaioGG .projects {
    background-color: #403D30;
    height: 100vh;
}
/*endregion*/

/*contact region*/
.palaioGG .contact {
    background-color: #2B2921;
    color: #7F7960;
    position: relative;
    height: 50vh;
    min-height: 30vmax;
}

.palaioGG .contact .contact-container { position: relative; height: 100%; overflow: auto; }

.palaioGG .contact .contact-details {
    padding: 30px;
    
}

.palaioGG .contact h5 { padding-bottom: 7px; font-size: 1vmax; }

.palaioGG .contact .contact-details .email { color: #FFF3C1; text-align: center; line-height: 2; font-size: 1vmax; }

.palaioGG .contact .contact-details a { text-decoration: none; color: #FFF3C1; padding: 0 10px; }
.palaioGG .contact .contact-details a:hover { color: #403D30; }

.palaioGG .contact .fa { font-size: 1.5vmax; }

.palaioGG .contact .closing-message { padding: 3vmax 15px; text-align: justify; }
.palaioGG .contact .closing-message p { font-size: 1vw; }
.palaioGG .contact .footer-rights h5 { font-size: 1.2vw; }
