/*responsive region*/
@media only screen and (max-width : 1200px) {
        .palaioGG .main .title-container h2 {
        font-size: 2.5vmax;
    }

    .palaioGG .about .about-content {
        padding-left: 30px;
    }
    .palaioGG .about .about-content .about-text { font-size: 1.2vmax; }

    .palaioGG .contact h5 { font-size: 1.3vmax }
}

@media only screen and (max-width : 992px) {
    .palaioGG .about .about-content {
        padding-left: 0px;
    }

    .palaioGG .contact { min-height: 40vmax; }
    .palaioGG .contact .closing-message p { font-size: 14px; font-size: 1.2vw; }
}

@media only screen and (max-width: 767px) {
    .palaioGG .main .title-container {
        margin-top: 5%;
    }

    /*about region*/
    .palaioGG .about {
        position: relative;
    }

        .palaioGG .about .about-content {
            position: absolute;
            z-index: 5;
            padding: 0 20px;
            top: 18%;
            /*bottom: 40vh;*/
        }

            .palaioGG .about .about-content .about-title {
                font-size: 28px;
                /*text-align: center;*/
            }

            .palaioGG .about .about-content .about-text {
                font-size: 1.7vmax;
                padding-right: 0;
            }

        .palaioGG .about .cityscape-wrapper {
            margin: 0 auto;
            height: 30vh;
            bottom: 0px;
            width: 100%;
            position: absolute;
        }

    /*skills sections*/
    .palaioGG .skills {
        min-height: 150vmax;
        padding-top: 30vmax;
    }

    .palaioGG .skills .skills-notice {
        padding: 0 10%;
        padding-bottom: 5%;
        font-size: 12px;
    }

    .palaioGG .skills .skillset .col-md-6:nth-child(odd) .skill-container .percentage-bar { left: 0; right: auto; }

    .palaioGG .skills .skills-familiar {
        font-size: 14px;
    }

    /*contact region*/
    .palaioGG .contact {
        height: 70vh;
        min-height: 100vmax;
    }

        .palaioGG .contact .contact-title,
        .palaioGG .contact .connect-title,
        .palaioGG .contact .subscribe-title { padding-top: 10px; font-size: 1.7vmax; }

        .palaioGG .contact .contact-details .email { font-size: 1.4vmax; }

        .palaioGG .contact .fa { font-size: 2vmax; }

        .palaioGG .contact .closing-message p { font-size: 14px; font-size: 2vw; }
        .palaioGG .contact .footer-rights p { font-size: 2vw; }

@media screen and (max-width: 658px) {
    .overlay a {
        padding: 8px;
        font-size: 7vmin;
    }

    /*hamburgher*/
    #nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
        top: 12px;
    }

    #nav-icon3 span:nth-child(4) {
        top: 24px;
    }

    #stripe_top, #stripe2, #stripe3, #stripe4, #stripe5_wrapper, #stripe5, #patch5, #patch6, .stripe-container {
        display: none;
    }

    .palaioGG .contact .closing-message { font-size: 14px; font-size: 2.3vw; }
    .palaioGG .contact .footer-rights p { font-size: 2.3vw; }
}

/* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {


        /*skills region*/
        .palaioGG .skills .skills-title { font-size: 2.3rem; }
        .palaioGG .skills .skills-notice {
            text-align: justify;
            font-size: 10px;
        }
        .palaioGG .skills .skillset .skill-container .skill-label { display: none; }
        .palaioGG .skills .skillset .skill-container { min-height: 50px; }
        .palaioGG .skills .skillset .skill-container .donut-container {
            min-height: 50px;
            min-width: 50px;
        }
        .palaioGG .skills .skillset .skill-container .skill-logo { min-width: 20px; }
        .palaioGG .skills .skills-familiar { font-size: 12px; }
        
        .palaioGG .skills .skillset .skill-container .donut-container { margin-top: -4px; }

@media screen and (max-width: 380px) {
    .palaioGG .main .title-container {
        margin-top: 15%;
    }

    /*hamburgher*/
    #nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
        top: 10px;
    }

    #nav-icon3 span:nth-child(4) {
        top: 20px;
    }


    /*main region*/

    /*about region*/
    .palaioGG .about .about-content {
        top: 15%;
    }

    .palaioGG .about .about-content .about-text {
        font-size: 1.4vmax;
    }

    /*contanct region*/
    .palaioGG .contact .closing-message p { font-size: 14px; font-size: 2.8vw; }
    .palaioGG .contact .footer-rights p { font-size: 3vw; }
}

@media screen and (max-width: 360px) {
    .palaioGG .about .about-content h1 {
        font-size: 24px;
    }

    /*.palaioGG .about .about-content p {
        font-size: 14px;
    }*/

    .palaioGG .main .title-container #interested {
        letter-spacing: 7px;
    }
}
/*endregion*/

