/*responsive region*/
@media only screen and (max-width : 1200px) {
    .palaioGG .about .about-content {
        padding-left: 30px;
    }
    .palaioGG .about .about-content p { font-size: 1.2vmax; }
}

@media only screen and (max-width : 992px) {
    .palaioGG .about .about-content {
        padding-left: 0px;
    }

    .palaioGG .contact { min-height: 40vmax; }
    .palaioGG .contact .closing-message p { font-size: 14px; font-size: 1.2vw; }
}

@media only screen and (max-width: 767px) {
    /*main region*/
    /*.palaioGG .main .avatar {
        width: 200px;
        height: 200px;
    }

    .palaioGG .main .title-container h2 {
        font-size: 1.5rem;
    }

    .palaioGG .main .title-container #front_dev {
        color: #55595E;
        font-family: Whipsmart;
        font-weight: bold;
    }

    .palaioGG .main .title-container #interested {
        font-size: 1.6rem;
    }

    .palaioGG .main .title-container #web {
        font-size: 2.1rem;
    }

    .palaioGG .main .title-container #design {
        font-size: 2rem;
        letter-spacing: 1px;
    }

    .palaioGG .main .title-container #substance {
        font-size: 2rem;
    }*/

    /*about region*/
    .palaioGG .about {
        position: relative;
    }

        .palaioGG .about .about-content {
            position: absolute;
            z-index: 5;
            padding: 0 20px;
            bottom: 40vh;
        }

            .palaioGG .about .about-content h1 {
                font-size: 28px;
                text-align: center;
            }

            .palaioGG .about .about-content p {
                font-size: 1.7vmax;
            }

        .palaioGG .about .cityscape-wrapper {
            margin: 0 auto;
            height: 30vh;
            bottom: 0px;
            width: 100%;
            position: absolute;
        }

    /*skills sections*/
    .palaioGG .skills {
        min-height: 150vmax;
    }

    /*contact region*/
    .palaioGG .contact {
        height: 70vh;
        min-height: 100vmax;
    }

        .palaioGG .contact .contact-title { font-size: 2.2vmax; }
        .palaioGG .contact .connect-title,
        .palaioGG .contact .subscribe-title { padding-top: 10px; font-size: 2.2vmax; }

        .palaioGG .contact .contact-details .email { font-size: 1.8vmax; }

        .palaioGG .contact .fa { font-size: 3vmax; }

        .palaioGG .contact .closing-message p { font-size: 14px; font-size: 2vw; }
        .palaioGG .contact .footer-rights h5 { font-size: 2vw; }

@media screen and (max-width: 658px) {


    #stripe_top, #stripe2, #stripe3, #stripe4, #stripe5_wrapper, #stripe5, #patch5, #patch6, .stripe-container {
        display: none;
    }

    .palaioGG .contact .closing-message { font-size: 14px; font-size: 2.3vw; }
    .palaioGG .contact .footer-rights h5 { font-size: 2.3vw; }
}

@media screen and (max-width: 380px) {
    /*main region*/
    /*.palaioGG .main .avatar {
        width: 180px;
        height: 180px;
    }

    .palaioGG .main .title-container h2 {
        font-size: 1.5rem;
    }

    .palaioGG .main .title-container #interested {
        font-size: 1.4rem;
    }

    .palaioGG .main .title-container #web {
        font-size: 1.8rem;
    }

    .palaioGG .main .title-container #design {
        font-size: 1.8rem;
        letter-spacing: 1px;
    }

    .palaioGG .main .title-container #substance {
        font-size: 1.8rem;
    }*/

    /*about region*/
    .palaioGG .about .about-content {
        top: 13%;
    }

    /*contanct region*/
    .palaioGG .contact .closing-message p { font-size: 14px; font-size: 3vw; }
    .palaioGG .contact .footer-rights h5 { font-size: 3vw; }
}

@media screen and (max-width: 360px) {
    .palaioGG .about .about-content h1 {
        font-size: 24px;
    }

    /*.palaioGG .about .about-content p {
        font-size: 14px;
    }*/

    .palaioGG .main .title-container #interested {
        letter-spacing: 7px;
    }
}
/*endregion*/


/*full hd phones region*/
@media screen and (max-device-width: 1080px) and (max-device-height: 1920px) {
    #stripe_top, #stripe2, #stripe3, #stripe4, #stripe5_wrapper, #stripe5, #patch5, #patch6 {
        display: none;
    }

    /*main region*/
    /*.palaioGG .main .avatar-wrapper {
        margin-top: 10vh;
    }*/

    /*about region*/
    .palaioGG .about {
        position: relative;
    }

        .palaioGG .about .about-content {
            position: absolute;
            z-index: 5;
            padding: 0 20px;
            top: 7%;
        }

            .palaioGG .about .about-content h1 {
                font-size: 28px;
                text-align: center;
            }

            .palaioGG .about .about-content p {
                font-size: 14px;
            }

        .palaioGG .about .cityscape-wrapper {
            margin: 0 auto;
            height: 30vh;
            bottom: 0px;
            width: 100%;
            position: absolute;
        }
}
/*endregion*/


/*iphone 5*/
@media screen and (max-device-width: 320px) and (max-device-height: 580px) {
    /*.palaioGG .main .avatar-wrapper {
        width: 150px;
        height: 150px;
        margin-top: 45px;
        margin-bottom: 40px;
    }

    .palaioGG .main .avatar {
        width: 150px;
        height: 150px;
    }

    .palaioGG .main .title-container h2 {
    }

    .palaioGG .main .title-container #interested {
        font-size: 1.4rem;
    }

    .palaioGG .main .title-container #web {
        font-size: 1.8rem;
    }

    .palaioGG .main .title-container #design {
        font-size: 1.9rem;
    }

    .palaioGG .main .title-container #substance {
        color: #E0493A;
        font-family: Ambrosia;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 1.8rem;
    }*/

    /*about region*/
    .palaioGG .about .about-content {
        position: absolute;
        z-index: 5;
        padding: 0 20px;
        bottom: 30vh;
    }

        .palaioGG .about .about-content h1 {
            font-size: 18px;
            text-align: center;
        }

        .palaioGG .about .about-content p {
            font-size: 12px;
        }
}
/*endregion*/
